<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="/sayings">Sayings</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/sayers">Sayers</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/sources">Sources</a>
  </li>
</ul>